@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	/*background: #000;*/
	/*min-height: 200vh;*/
	font-size: 16px;
}
#wrapper{
	width: 100%;
}
.container{
	width: 80%;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
.highlight-text{
	color: #f5634b;
}

/*Header Section
*******************************/
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	/*display: flex;
	justify-content: space-between;
	align-items: center;*/
	/*transition: 0.6s;*/
	padding: 40px 0;
	z-index: 1;
}
header.sticky{
	padding: 15px 0;
	background: #fff;
	border-bottom: 2px solid #f5634b;
}
header .topbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*.logo-icon{
	position: absolute;
	left: 0;
}*/
header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	font-size: 2em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	/*transition: 0.6s;*/
}
.menu-icon{
	display: none;
}
#menu-list{
	/*max-height: 40px !important;*/
}
nav{
	margin-top: -30px;
}
nav ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-height: none;
}
nav ul li{
	position: relative;
	list-style: none;
	text-transform: uppercase;
	/*letter-spacing: 1px;*/
	font-size: .9em;
}
nav ul li a{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	/*transition: 0.6s;*/
}
nav ul li a:hover{
	border-bottom: 1px solid;
}
header.sticky .logo, header.sticky nav ul li a{
	color: #000;
}
nav ul li .active{
	border-bottom: 1px solid;
}

/*Registration popup*/

.registraion h1{
	margin: 10px 0;
}
.popup .overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	z-index: 1;
	display: none;
}
.popup .content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	background: #fff;
	width: 50%;
	height: auto;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}
.popup .close-btn{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	background: #222;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}
.popup.active .overlay{
	display: block
}
.popup.active .content{
	transition: all 300ms ease-in-out;
	transform: translate(-50%,-50%) scale(1);
}
.registration-form, .contact-form{
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}
.field-group{
	width: 50%;
	padding: 10px;
}
.field-group label, .field-group input{
	width: 100%;
}
.field-group input{
	height: 50px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}
.field-group textarea{
	width: 100%;
	border: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 10px;
}
.message{
	width: 100%;
}
.submit{
	margin: 0 0 0 10px !important;
	/*padding: 10px 15px !important;*/
	border: none;
	/*border-radius: 20px;*/
	color: #fff;
	font-size: 1em !important;
}

/*Banner Section
*******************************/
.banner{
	position: relative;
	width: 100%;
	height: 100vh;
	/*Image From
	https://www.pexels.com/photo/man-and-woman-holding-battle-ropes-1552242/*/
	background: url(../images/banner-bg.jpg);
	background-size: cover;
	min-height: 650px;
	max-height: 650px;
}
.banner-content{
	top: 30%;
    position: relative;
    color: #fff;
}
.banner-content h1{
	font-size: 4em;
	text-shadow: 2px 2px 6px #000;
	text-transform: uppercase;
}
.banner-content h1 span{
	display: block;
	padding: 5px 0;
	line-height: 1em;
}
.color-text{
	color: #f5634b;
}
/*.button{
	display: inline-block;
    margin: 30px 0;
    padding: 15px 25px;
    font-size: 1.3em;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
	cursor: pointer;
	transition: 0.5s;
}*/
.button{
	display: inline-block;
    margin: 30px 0;
    padding: 5px 15px;
    font-size: 1em;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
	cursor: pointer;
	transition: 0.5s;
	border-radius: 10px;
}

.button a{
	color: #fff;
}
.button:hover{
	background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
	transform: translateX(10px);
	transition: 0.5s ease-in-out;
}
/*Signup Button*/

.signup-button{
	margin: 0;
	padding: 5px 15px;
	font-size: 1em;
	margin-left: 10px;
	border-radius: 10px;
}
.signup-button:hover{
	transform: translateY(-10px);
	transition: 0.5s ease-in-out;
	border: none;
}

/*Inner page banner*/
.inner-page-banner{
	min-height: 350px !important;
	max-height: 350px !important;
}
.inner-page-banner .banner-content{
	text-align: center;
	letter-spacing: 2px;
	top: 40%;
}
/*Commitment Section
*******************************/
.commitment{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -70px;
	margin-bottom: 40px;
	/*margin: 40px auto;*/
	/*color: #fff;*/
}
.commitment h2{
	font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.commitment-info{
	padding: 20px;
	background: #fff;
	margin: 10px;
	box-shadow: 0 0 5px #ddd;
	transition: transform 0.5s;
	width: 30%;
}
.commitment-info:hover{
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
	color: #fff;
	box-shadow: none;
	transform: translateY(-10%);
}
.commitment-info:hover a{
	color: #fff;
}
.commitment-info p{
	padding: 20px 0;
	line-height: 30px;
}
.commitment-info a{
	color: #f5634b;
}
.commitment-info a:hover{
	text-decoration: underline;
}

/*Free training section*/
.section-heading{
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2.5em;
	margin: 50px 0;
}
.training-info, .plans-info{
	display: flex;
	justify-content: space-between;
}
.free-training-info{
	width: 30%;
    margin-bottom: 40px;
    /*border: 1px solid #ddd;*/
    padding: 30px;
	box-shadow: 0 0 5px #eee;
	border-radius: 10px;
	transition: transform 0.5s;
}
.free-training-info:hover{
	box-shadow: 0 0 10px #ddd;
	transform: scale(1.1);
	/*transition: 0.5s;*/
}
.training-img{
	text-align: center;
	padding: 0 20px 20px 20px;
	max-width: 200px;
	margin: 0 auto;
}
.training-img img{
	width: 100%;
	height: auto;
}
.free-training-info h3{
	margin: 20px 0;
	text-align: center;
	text-transform: uppercase;
}
.free-training-info p{
	text-align: justify;
}

/*Contact page*/

.contact{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: strech;
	margin-top: -70px;
	margin-bottom: 40px;
}
.contact-form-section, .contact-info{
	height: 400px;
}
.contact-form-section{
	width: 60%;
	box-shadow: 0 0 5px #eee;
	background-color: #fff;
	padding: 10px;
}
.contact-info{
	width: 40%;
	background-color: #f5634b;
	color: #fff;
	padding: 10px;
}
.contact-form-section h2, .contact-info h2{
	margin: 20px 0;
	/*text-align: left;*/
	font-size: 1.3em;
	letter-spacing: 1px;
}
.address{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*font-size: 1.1em;*/
	padding: 5px;
	margin: 10px;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 10px;
}
.address a{
	color: #fff;
}
.icon{
	width: 30%;
	font-size: 2em;
}
.address-details, .email, .phone{
	width: 70%;
}
.address::before{
	/*content: "\2709";*/
}
.plans-info h3{
	font-weight: 400;
	letter-spacing: 2px;
}

.packages p{
	text-align: center;
	line-height: 2.5em;
	
}
.price{
	color: #f5634b;
	font-size: 1.3em;
	font-weight: 600;
}
.get-enroll{
	margin-top: 20px;
	padding: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #f5634b;
	width: 100%;
	color: #fff;
	border: none;
	cursor: pointer;
}
.hide-desktop{
	display: none;
}
.hide-mobile{
	display: block;
}
/*
About us page
*/
/*
Image From
https://www.pexels.com/photo/person-holding-barbell-841130/
*/
.about-banner{
	background: url(../images/about-banner.jpg);
}
.about h2{
	margin: 0 0 20px 0;
    /* text-align: left; */
    font-size: 1.3em;
    letter-spacing: 1px;
	color: #fff;
}
.our-story, .what-we-do{
	padding: 30px;
    text-align: justify;
    color: #fff;
	line-height: 1.3em;
}
.our-story{
	background-color: #fe9418;
}
.what-we-do{
	background-color: #f5634b;
}
.statistics{
	margin-top: 70px;
	margin-bottom: 40px;
	padding: 40px 0;
	background-color: #eee;
}
.statistics .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.statistics h2{
	font-size: 2.5em;
	letter-spacing: 2px;
}
.statistics p{
	text-transform: uppercase
}
.testimonials{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.testimonials-info{
	width: 30%;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
}
.comment .quotes{
	color: #f5634b;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1.3em;
	padding: 0 15px;
}
.name-pic{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	align-items: center;
}
.name-pic .name{
	color: #f5634b;
	font-weight: bold;
	letter-spacing: 2px;
}
.pic img{
	width: 80px;
    border-radius: 50px;
    max-width: 100%;
}
.pic{
	width: 30%
}

/*Training Page
******************************/

/*Image From https://www.wallpaperflare.com/man-dark-bodybuilder-muscle-darkness-bodybuilding-muscles-wallpaper-gkls*/
.training-banner{
	background: url(../images/training-banner.jpg);
}
.workouts {
    width: 80%;
    margin: auto;
   /* padding-bottom: 50px;*/
}

.row {
    display: flex;
    /*justify-content: center;
    flex-wrap: wrap;*/
	justify-content: space-between;

}

.col {
    background: #FFF;
    /*width: 400px;*/
    margin-bottom: 20px;
	/*max-width: 100%;*/
	width: 30%;
}

.col h3, .col p, .col a {
    margin: 15px 0;
}
.col p{
	text-align: justify;
}

.col h3 {
    text-align: center;
}

.col a {
    text-decoration: none;
    color: #f5634b;
}
.col a:hover{
	color: #000;
}

.image {
    position: relative;
    /*width: 400px;*/
	width: 100%;
}
.workouts img{
	width: 100%;
	object-fit: cover;
	
}

/*CSS for trainers*/

.training-info {
    display: flex;
    justify-content: space-between;
}

.trainer-info {
    width: 30%;
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
    transition: transform 0.5s;
}

.trainer-info:hover {
    box-shadow: 0 0 10px #ddd;
    transform: scale(1.1);
}

.training-img {
    text-align: center;
    padding: 0 20px 20px 20px;
    max-width: 250px;
    margin: 0 auto;
}

.training-img img {
    width: 100%;
    height: auto;
}

.trainer-info h3 {
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.trainer-info p {
    text-align: justify;
}

/*Nutrition Page
*******************************/
/*Image from
https://www.pexels.com/photo/flat-lay-photo-of-fruits-and-vegetables-1660027/*/
.nutrition-banner{
	background: url(../images/nutrition-banner.jpg);
}
.nutrition-info{
	background:#fff;
	padding:30px;
	box-shadow:0 0 5px #ddd ;
	position: relative;
	margin-top: -70px;
}
.nutrition-info h2{
	margin-top: 0px;
	margin-bottom: 20px;
}
.nutrition-info p{
	text-align: justify;
	letter-spacing: 2px;
	font-weight: 100;
}
.nutrition-table h2{
	margin-top: 10px;
}
table{
	border-spacing: 8px;
	width: 100%; 
	/*margin-top:50px;*/
}
/*caption{
	font-size: 3em;margin:auto;box-shadow:#ddd ;
}*/
thead{
	color: #000;
	font-size:1.2em;
	background-color:#c8f50094;
}
th{
	padding:20px;
	color: #fff;
}
td{
	padding:15px;
	color: #000;
	text-align: center;
}
tr:nth-of-type(odd){
	background-color:#dd050594;
}
tr:nth-of-type(even){
	background-color:#e0aeae94;
}

.nutrition-sec{
	background:#fff;
	padding:10px;
	box-shadow:0 0 5px #ddd ;
	position: relative;
	margin: 60px auto;
}
.nutrition-sec h2{
	margin-top: 30px;
	margin-bottom: 30px;
}
.description{
	display: flex;
	justify-content: space-between;
	text-align: justify;
	margin-bottom: 30px;
}
.description div{
	width: 50%;
	padding: 10px;
}
.second img{
	width: 100%;
	object-fit: cover;
	height: 100%;
}


/*Footer Section
*******************************/
footer{
	background-color: #444;
	/*padding-top: 20px;*/
}
.footer{
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
.footer-info{
	padding: 15px;
	color: #fff;
	/*margin: 10px;*/
	width: 23%;
	border: 1px solid #4c4c4c;
	font-size: 14px;
}
.footer-info a{
	color: #fff;
}
.copyright{
	text-align: center;
    color: #444;
    font-size: 14px;
    font-style: italic;
    padding: 10px;
    background: #eee;
}

@media only all and (max-width:768px){
	header{
		position: relative;
		padding: 15px 0;
		border-bottom: 2px solid #f5634b;
	}
	header .logo{
		color: #000;
	}
	header .topbar{
		display: block;
	}
	header .logo-icon{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	.menu-icon{
		display: inline-block;
	}
	.menu-icon img{
		width: 50px;
		border: 1px solid #ddd;
    	margin-top: 5px;
	}
	#menu-list{
		overflow: hidden;
		transition: 0.5s;
	}
	nav{
		position: absolute;
		margin-top: 20px;
		width: 80%;
	}
	nav ul{
		position: relative;
		display: block;
		overflow: auto;
		background: rgba(0,0,0,0.9);
		width: 100%;
		margin-top: -3px;
	}
	nav ul li{
		padding: 5px;
	}
	nav ul li:hover{
		background: #fff;
		color: #000;
	}
	nav ul li:hover a{
		color: #000;
		border: none;
		display: block;
	}
	.signup-button:hover{
		transform: none;
	}
	.banner{
		/*height: auto;*/
		min-height: 500px !important;
		max-height: 500px !important;
	}
	.banner-content{
		top: 20%;
	}
	.banner-content h1{
		font-size: 3.2em;
	}
	.inner-page-banner{
		min-height: auto !important;
		max-height: 350px !important;
	}
	.inner-page-banner .banner-content{
		top: 100px;
	}
	.commitment, .training-info, .plans-info{
		display: block;
	}
	.commitment-info{
		width: 100%;
		margin: 30px 0;
	}
	.free-training-info, .footer-info{
		width: 100%;
	}
	
	/*Registration*/
	.popup .content{
		width: 95%;
	}
	.popup.active .content{
		margin-top: 30px;
	}
	.field-group input{
		height: 35px;
	}
	.field-group textarea{
		height: 60px;
	}
	
	/*Contact Page*/
	.contact{
		display: block;
	}
	.contact-form-section{
		width: 100%;
		margin: 20px 0;
	}
	.contact-info{
		width: 100%;
		margin: 20px 0;
	}
	.hide-desktop{
		display: block;
	}
	.hide-mobile{
		display: none;
	}
	/*About Page*/
	.statistics .container{
		display: block;
	}
	.statistics .container div{
		margin: 20px 0;
		padding: 10px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 10px;
	}
	.testimonials{
		display: block;
	}
	.testimonials-info{
		width: 100%;
		margin-bottom: 10px;
	}
	/*Footer Section*/
	.footer{
		display: block;
	}
	.footer-info{
		margin: 10px 0;
	}
	
	/*Nutrition page*/
	.description{
		display: block;
	}
	.description div{
		width: 100%;
	}
	table, caption,thead, tbody, th, td, tr {
		display: block;
	}
	thead tr 
	{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr { 
		border: 1px solid #ccc; 
	}
	td 
	{
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		text-align: left;
	}
	td:before {
		position: absolute;
		top: 12px;
		left: 20px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align: left
	}
	td:nth-of-type(1):before { 
		content: "Meal Number";
	}
	td:nth-of-type(2):before { 
		content: "Meal Name";
	}
	td:nth-of-type(3):before { 
		content: "Meal Time"; 
	}
	/*Training Page*/
	.row{
		display: block;
	}
	.col{
		width: 100%;
	}
	.trainer-info{
		width: 100%;
	}
}
@media only all and (min-width:768px) and (max-width:980px){
	nav ul li{
		font-size: .75em;
	}
	nav ul li a{
		margin: 0 5px;
	}
}